
/* welcome */
#index-page h1 {
   color: #383d38;
   text-align: center;
}

.navbar-default{
	background-color: #0e0f0e;
    border-bottom: 1px solid;
	border-bottom-color: white;
}

.navbar-menu-links{
	margin-top: 30px;
}

#logo img{
	width: 55px;
	margin-left: 50px;
}

#navbar-menu-dropdown-link{
	margin-top: 30px;
	margin-right: 30px;
}


.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:active{
    color: green;
}

.row h2{
	text-align: center;
}

.footer-links{
	color: #0e0f0e;
}

#contactus{
margin-left: 50px;
}

#social-media-icons{
float: right;
margin-top: 10px;
margin-right: 30px;
width: 120px;
display: inline;
}

#singingfirstlink{
	color:white;
}

#pianofirstlink{
	color:white;
}

#drumsfirstlink{
	color:white;
}

#musictheoryfirstlink{
	color:white;
}

#top p{
	font-size: 14pt;
	text-align: justify;
}
#textaboutus{
float: left;
width: 600px;
text-align: justify;
}

#jack{
	float: right;
}

#aboutustitle{
	color: white;
}

#links-bottom{
float: left;
}